frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env

# 로그 파일
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# 에디터 디렉토리, 파일
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# 플라스크
backend/.venv/
backend/database*
*.pyc
